<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fdev.web_back.dao.StockPricesMapper">
	<!-- 条件指定検索 -->
	<select id="search" resultType="fdev.web_back.entity.StockPrices">
		SELECT
			*
		FROM
			STOCK_PRICES
		WHERE
			1 = 1
			<if test="associationCode != null and associationCode != ''">
				AND ASSOCIATION_CODE = #{associationCode}
			</if>
			<if test="recordDate!= null and recordDate!= ''">
				AND RECORD_DATE = #{recordDate}
			</if>
		;
	</select>
</mapper>
