<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fdev.web_back.dao.UserInfoMapper">
	<!-- 全件検索 -->
	<select id="findAll"
		resultType="fdev.web_back.entity.UserInfo">
		SELECT * FROM userinfo WHERE delete_date IS NULL
	</select>
	<!-- 主キー検索 -->
	<select id="findById"
		resultType="fdev.web_back.entity.UserInfo">
		SELECT * FROM userinfo WHERE id=#{id} AND delete_date IS NULL
	</select>
	<!-- 条件指定検索 -->
	<select id="search"
		resultType="fdev.web_back.entity.UserInfo">
		SELECT
		*
		FROM
		userinfo
		WHERE
		delete_date IS NULL
		<if test="id != null and id != ''">
			AND id = #{id}
		</if>
		<if test="name != null and name != ''">
			AND name LIKE CONCAT('%', #{name}, '%')
		</if>
	</select>
	<!-- 新規登録 -->
	<insert id="save">
		INSERT INTO userInfo
		(name, address, phone, update_date, create_date)
		VALUES
		(#{name}, #{address}, #{phone}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>
	<!-- 更新 -->
	<update id="update">
		UPDATE userinfo SET name = #{name}, address = #{address}, phone = #{phone},
		update_date = CURRENT_TIMESTAMP WHERE id = #{id}
	</update>
	<!-- 論理削除 -->
	<update id="delete">
		UPDATE userinfo SET delete_date = CURRENT_TIMESTAMP WHERE id = #{id}
	</update>
</mapper>